@model Mdbe.Web.Models.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.MetaData != null && Model.MetaData.Count() > 0)
{
    <ul>
    @foreach (var md in Model.MetaData)
    {
        var url = Url.Content(string.Format("~/{0}", md.Slug));
        <li><a href="@url">@md.Title</a></li>
    }
    </ul>
}
else
{
    <text>There doesn't seem to be anything here. See App_Data/Posts/example.txt to start blogging!</text>
    <pre>
title: Title of the post (required)
date: 2013-12-11
slug: hello-world

Anything after the blank line above is considered post content.
To start a new post:

* Create new .md file in App_Data/Posts/
* Give it a title
* Date is optional (many date time formats are supported); if not specified then the file creation date will be used
* Slug: what would appear on the url; if not specified then the file name will be used
    </pre>
}
